<!DOCTYPE html>
<html>
<head>
    <title>Modules </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.29/angular.min.js"></script>
</head>
<body ng-app="myApp">

<!--<div ng-controller="MyController">
    First Name :
    <input type="text" ng-model="firstName">
    <br>
     Last Name :
    <input type="text" ng-model="lastName">
    <br>
    <h1>{{fullName()}}</h1>
    
</div>-->

<div ng-controller="myCtrl">
    <h2>{{age}}</h2>
</div>

<script>
    //  function MyController($scope) {
    //    $scope.firstName = "Oday" ;
    //    $scope.lastName = "Alqarra";   
    //    $scope.fullName = function(){
    //        return  $scope.firstName + " " + $scope.lastName;
    //    }
    //  }
    var app = angular.module('myApp',[]);
     app.controller('myCtrl',function($scope){
         $scope.age = 23;
     });

     var app2 = angular.module('myApp2',[]);
     app2.controller('MyController',function($scope){
           $scope.firstName = "Oday" ;
       $scope.lastName = "Alqarra";   
       $scope.fullName = function(){
           return  $scope.firstName + " " + $scope.lastName;
       }
     });
</script>
</body>
</html>